:root {
  --redFilter: invert(19%) sepia(50%) saturate(4915%) hue-rotate(348deg)
    brightness(86%) contrast(97%);
  --blackFilter: brightness(0) saturate(100%);
  --whiteFilter: invert(100%) sepia(2%) saturate(881%) hue-rotate(217deg)
    brightness(115%) contrast(84%);
  --greenFilter: invert(54%) sepia(16%) saturate(902%) hue-rotate(68deg)
    brightness(96%) contrast(89%);
    /* --vh:; */
}
* {
    box-sizing: border-box;
    /* position: relative; */
    overflow-x: hidden;
  }
 
  body {
    max-width: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #302a55;
    color: white;
  }
  /*_____ANIMATIONS______*/
  @keyframes movFirst {
    0% {
      transform: translateX(-500px);
    }
    30% {
      transform: translateX(0px);
    }
  }
  @keyframes movSecond {
    0% {
      transform: translateX(1000px);
    }
    60%{
      transform: translateX(700px);
    }
    100% {
      transform: translateX(0px);
    }

  }
  @keyframes menuDesplegable{
    0%{
      height: 0%;
    }
    100%{
      height: 100px;
    }
  }
  /*_____DYNAMIC FONT_____*/
  h1 {
    margin: 0;
    font-size: clamp(1.5rem, 1.8rem + 4vw, 6rem);
  }
  h2 {
    font-size: clamp(1.2rem, 0.64rem + 2.8vw, 4rem);
  }
  h3 {
    font-size: clamp(0.9rem, 0.34rem + 2.8vw, 3.7rem);
  }
  p,
  span{
    font-size: clamp(0.7rem, 0.14rem + 2.8vw, 3.5rem);
  }

  /*_______SECTIONS______*/
  section{
    height: 100svh;
    /* overflow-y: hidden; */
  }
  /*_______SECTION 1_____*/


  .sect-1 {
    height: 100svh;
    background-image:url(stair.svg), url(logo-85transparent.png), url(bcg-img-vertical-1.png);
    background-repeat:no-repeat,no-repeat, no-repeat;
    background-size: 80vw, 30vh, cover;
    background-position:bottom right, 50% 40% , center ;
    display: grid; 
    grid-template-rows: 10vh 80vh 10vh;
    grid-template-columns: 20vw 80vw;
    grid-template-areas: "nav nav" "conten conten" "arrow arrownone";
  }
  .logo-img{
    display: none;
    height: 100%;
  }
  nav{
    /* position: relative; */
    grid-area: nav;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #26244d62;
  }
  .menu{ 
    position: absolute;
    width: 100%;
    top: 10vh;
    height: 0;
    margin: 0;
    padding: 0;
    background-color: #26244d62;
    text-align: center;
  }
  .menu-toggle{
    animation-name: menuDesplegable;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-play-state: running;
    animation-iteration-count: 1;
  }
  a{
    font-size: 1.2rem;
    text-decoration: none;
    color: white;
  }
  li{
    margin: .5rem 0;
  }
  li:hover{
    background-color: #3b3a5762;
  }
  .sect-1-content{
    grid-area: conten;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 40% 0 60% 1rem;
  }
  .titleMovSecond,
  .titleMovFirst {
    animation-name: movSecond;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-fill-mode: backwards;
    animation-iteration-count: 1;
  }
  .titleMovFirst {
    animation-name: movFirst;
    animation-duration: 2s;
  }
  .titleMovSecond{
    overflow-y: hidden;
    line-height: 2.6rem;
  }
  .arrow{
    grid-area: arrow;
    height: 60%;
    align-self: center;
    justify-self: center;
  }
  .fa-bars{
    height: 70%;
    filter: var(--whiteFilter);
  }
