/* medidas:
 */
:root {
  --redFilter: invert(19%) sepia(50%) saturate(4915%) hue-rotate(348deg)
    brightness(86%) contrast(97%);
  --blackFilter: brightness(0) saturate(100%);
  --whiteFilter: invert(100%) sepia(2%) saturate(881%) hue-rotate(217deg)
    brightness(115%) contrast(84%);
  --greenFilter: invert(54%) sepia(16%) saturate(902%) hue-rotate(68deg)
    brightness(96%) contrast(89%);
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  /* background-color: #333; */
  width: 100vw;
  overflow-x: hidden;
  font-family: Arial, Helvetica, sans-serif;
}

/* ______SECTION 1________ */
section {
  height: 100vh;
  /* border-bottom: 1px solid white; */
  color: white;
}
.logo-img{
  width: 25vw;
}
.sect-1 {
  width: 100vw;
  display: grid;
  grid-template-rows: 1fr 8fr;
  grid-template-areas:
    "header"
    "content";
    background-image: url(stair.svg), url(bcg-img-vertical-1.svg);
    background-position: bottom right, top left;
    background-repeat: no-repeat, no-repeat;
    background-size: 80vw, cover;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #535353a2;
  padding: 1rem 1.5rem;
}
.fa-bars {
  width: 13vw;
  filter: var(--whiteFilter);
}
.fa-bars:hover {
  transform: scale(1.1, 1.1);
  transition: all 0.2s ease;
  filter: var(--blackFilter);
}
li {
  list-style: none;
  padding: 1rem .5rem;
  background-color: #535353a2;
  /* border: solid white 1px; */
  border-radius: 0 1rem 1rem 0;
}
.menu {
  margin-top: 1rem;
  position: absolute;
  top: 109px;
  left: 0;
  font-size: 1.5rem;
  text-align: start;
  transform: translateX(-150px);
  transition: all .5s ease;
}
.menu-toggle {
  transform: translateX(0px);
}
.sect-1-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.sect-1-content h1{
  margin-left: 1rem;
  font-size: 2rem;

}
.arrow{
  position: absolute;
  width: 12vw;
  bottom: 0;
  left: 0;
  margin: 0 0 1rem 1rem;
}
/* ______SECTION 2________ */
.sect-2{
  background-color: black;
  display: grid;
  grid-template-rows: 3fr 2fr 1fr;
  grid-template-areas: "title" "content" "subtitle";
  /* align-items: e; */
  justify-items: end;
  background-image: url(stair-180deg.svg);
  background-size: 80vw;
  background-repeat: no-repeat;
  font-size: .5em;
}
.spanTitle{
font-size: 150%;
border-bottom: 3px solid white; 
position: relative;
top: 20vh;
right: 45vw;
}


